body {
font-family: "Open Sans", "Lato", Helvetica, sans-serif;
font-style: normal;
font-size: 12pt;
font-optical-sizing: auto;
}


.hidden{
    display: none;
}
.flex-container { 
    display: flex;
}
nav ul {
    display: flex;
    padding: 0.5rem;
    background-color: rgba(210, 216, 198, 0.692);
    align-items: center;
    list-style-type: none;
    margin: 0;
    font-size: 1.2rem;
    flex-wrap: wrap;
    min-width: 0
}
nav li {
    background-color: rgba(99, 168, 134, 0.233);
    flex: 1;
    text-align: center;
    min-width: 0;
    margin: 0.3rem;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    
}
.heading {
    background-color: rgba(210, 216, 198, 0.692);
    padding: 25px;
    margin:10px;
    text-align: center;
}
.bannerimg {
    width: 150px;
    flex-direction: row;
    align-items: center;

}
.map-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 25px;
    margin: 10px;
    text-align: center;
}
/* .map-container iframe{
    grid-area: auto;
    grid-column: span;
} */
#chooseDist {
    width: 350px;
    padding: 10px;
    font-size: 1.2rem;
}
/* text styling */
.center {
    text-align: center;
}
.justify {
    text-align: justify;
    display: inline-flex;
}
li a{
    color: black;
}
a {
  color: rgb(61, 94, 88);
  text-decoration: none;
}



/* for the contents of dropdown result; not yet added on html */
/* <div class="container">
  <div>1</div>
  <div>2</div>
  <div>3</div>  
  <div>4</div>
  <div>5</div>
</div> */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(165, 172, 149, 0.692);
    padding: 20px;
    margin: 10px;
    column-gap: 1rem;
    row-gap: 1rem;
}
.grid-item {
    background-color: rgba(240, 240, 240, 0.774);
    border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.logo {
    grid-column: 2; 
    width: auto;
    height: 100px;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .flex-container nav ul nav li{
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;
        min-width: 0;
        text-align: center;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        width: 100%;           /* Ensures they span full width when stacked */
        margin: 0.2rem 0;
}
}
